/**
 * @name CatV2
 * @author Gibbu
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @BDEditor Frosted Glass
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://4kwallpapers.com/images/wallpapers/kitten-cat-butterflies-black-background-glowing-3840x2160-4495.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: var(--background-image);
  --popout-image-blur: 5px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: var(--background-image);
  --overlay-image-blur: 3px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://4kwallpapers.com/images/wallpapers/kitten-cat-butterflies-black-background-glowing-3840x2160-4495.jpg');
  --home-button-size: cover;
  --home-button-position: center;
!important  --serverlist-brightness: 0;
  --left-brightness: 0;
  --middle-brightness: 0.14;
  --right-brightness: 0;
  --overlay-brightness: 0;
  --gradient-primary: 0,0,0;
  --gradient-secondary: 154,89,35;
  --link-colour: #F47C00;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 147deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Lexend;
  --window-padding: 8px;
  --window-roundness: 6px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


